.btn{
    background-color: #28273f;
    font-size: 2rem;
    color: aliceblue;
    border: none;
    padding: 1% 10% 1% 10%;
    border-radius: 15px;
    cursor: pointer;
}

.btn:hover{
    background-color: #454466;
}
