.tab_label{
    display: block;
    width: 250px;
    background-color: #0d112e;
    padding: 25px;
    font-size: 2rem;
    color:#fff;
    cursor: pointer;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}