.nav_tabs{
    width: 30vw;
    height: 25vw;
    background-color: #242342;
    position: relative;
    border-radius: 30px;
}

.tab-content{
    background-color: #fff;
    display: none;
    position: absolute;
    height: auto;
    width: 30vw;
    left: 0;	
    border-radius: 0px 0px 20px 20px;
}

.nav_tabs ul{
    list-style: none;
}

.nav_tabs ul li{
    float: left;
}

.tab-content section{
	padding: 10px;
	color: #555;
}

.input_tab { 
	display:none;
	position: absolute;
}

.input_tab:checked ~ label { 
	background-color: #ffffff;
    color:#242342;
}

.input_tab:checked ~ .tab-content{
	display: block;
}

.tab_label{
    display: block;
    width: 12.8vw;
    background-color: #242342;
    padding: 15px;
    padding-bottom: 5px;
    font-size: 2rem;
    color:#fff;
    cursor: pointer;
    text-align: center;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}