@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
*{
	margin: 0;
	padding: 0;
}

body{
  font-family: 'Alegreya Sans';
}

.App {
  text-align: center;
}

.App-header {
  background-color: #434272;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
